.mini-map {
    position: absolute;
    border: 1px solid black;
}
.tile {
    position: absolute;
}

.first-person {
    position: absolute;
    border: 1px solid black;
}
.first-person img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}

.player {
    background: blue;
}