.mini-map {
    position: absolute;
    border: 1px solid black;
    /* Firefox */
    -moz-transition: all 0.5s ease;
    /* WebKit */
    -webkit-transition: all 0.5s ease;
    /* Opera */
    -o-transition: all 0.5s ease;
    /* Standard */
    transition: all 0.5s ease;
}
.tile {
    position: absolute;
}

.first-person {
    position: absolute;
    border: 1px solid black;
}
.first-person img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}

.player {
    background: url(../img/minimap/player.png);
}

.footer {
    position: absolute;
    bottom: 0;
}